html {
    font-size: 62.5%; //reset REMS, to 10px = 1rem;
    font-family: $fontfamily-primary;
}

body {
    font-size: $fontSize-default;
}

.heading {
    &--primary {
        text-align: left;
        font-size: 6rem;
        color: white;
        &-sub {
            font-size: 5.5rem;
        }
    }
    &--sub {
        font-size: 3.5rem;
        text-align: center;
        letter-spacing: .3rem;
    }
    &--about {
        font-size: 2.8rem;
        letter-spacing: .3rem;
        font-weight: 400;
        &-sub {
            font-weight: 200;
            font-size: 2.2rem;
            letter-spacing: .2rem;
        }
    }
    &--skills {
        font-size: 2.7rem;
        font-weight: 600;
        margin: .5rem auto;
        padding-bottom: .8rem;
        color: $color-background-black;
        letter-spacing: .2rem;
    }
}

//////////
//about
.about {
    &__description {
        width: 85%;
        margin: 0 auto;
        font-size: 1.7rem;
        text-align: left;
        line-height: 150%;
    }
}

//FONT AWESOME
.fa-code {
    color: $color-black;
}

.fa-angle-double-down {
    transition: .3s ease;
    color: $color-background-gray;
    transform: rotate(-90deg);
}