.u-margin-bottom-large {
    margin-bottom: 8rem;
}

.u-margin-bottom-med {
    margin-bottom: 6rem;
}

.u-margin-bottom-small {
    margin-bottom: 4rem;
}

//FONT
.u-bold-color {
    font-weight: 700;
    color: $color-secondary;
}

.u-color-underline {
    padding-bottom: 1rem;
    border-bottom: 2.5rem solid $color-secondary;
}