/*
MEDIA QUERIES MIXINS
-Use EM, 16px = 1em
-Breakpoints  include:
-phone
-tablet(port)
-tablet(land)
-desktop

-desktop(large)ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /*
    @include respond(tab-port) {
        padding: 0; //remove header apdding at 900 breakpoint
    }*/ }

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 65.63em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 65.63em) {
    .row {
      max-width: 95rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 4rem; }
      @media only screen and (max-width: 65.63em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 55em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc( (100% - 4rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 4rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2*((100% - 2 * 4rem) / 3) + 4rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 4rem) / 4); }
    @media only screen and (max-width: 65.63em) {
      .row .col-1-of-4 {
        width: calc( (100% - 4rem) / 2); } }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 4rem) / 4) + 4rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 4rem) / 4) + 2 * 4rem); }

html {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 30em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 55em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 100em) {
    html {
      font-size: 76.25%; } }

body {
  font-size: 1.6rem; }

.heading--primary {
  text-align: center;
  font-size: 6rem;
  color: white; }
  .heading--primary-sub {
    font-size: 5.5rem; }
  @media only screen and (max-width: 55em) {
    .heading--primary {
      font-size: 4.8rem; }
      .heading--primary-sub {
        font-size: 4.3rem; } }
  @media only screen and (max-width: 30em) {
    .heading--primary {
      font-size: 3.5rem; } }

.heading--sub {
  font-size: 3.5rem;
  text-align: center;
  letter-spacing: .3rem; }

.heading--about {
  font-size: 2.8rem;
  letter-spacing: .3rem;
  font-weight: 400; }
  @media only screen and (max-width: 55em) {
    .heading--about {
      font-size: 3rem;
      font-weight: 500; } }
  .heading--about-sub {
    font-weight: 200;
    font-size: 2.2rem;
    letter-spacing: .2rem; }
    @media only screen and (max-width: 55em) {
      .heading--about-sub {
        font-size: 2.2rem; } }

.heading--skills {
  font-size: 2.7rem;
  font-weight: 600;
  margin: .5rem auto;
  padding-bottom: .8rem;
  color: #1b242f;
  letter-spacing: .2rem; }

.heading--work {
  text-align: left;
  padding-left: 3rem;
  padding-top: 10px;
  font-size: 2.2rem;
  letter-spacing: .1rem; }
  @media only screen and (max-width: 55em) {
    .heading--work {
      font-size: 2rem;
      padding: 2.5rem 2rem; } }

.about__description {
  width: 85%;
  margin: 0 auto;
  font-size: 1.6rem;
  text-align: left;
  line-height: 135%;
  padding-top: 2rem; }
  @media only screen and (max-width: 55em) {
    .about__description {
      width: 82.5%;
      line-height: 150%;
      padding: 2rem 0; } }

.about__skill {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  padding: .7rem 1.2rem;
  letter-spacing: .2rem;
  border: 2px solid #2A1E5C; }
  .about__skill-text {
    text-align: center;
    margin: .9rem auto;
    font-size: 1.8rem;
    align-self: center;
    text-transform: capitalize;
    display: block;
    padding: .7rem 1.2rem;
    font-weight: 400;
    letter-spacing: .1rem; }

.card__dot {
  margin-right: 1.5rem;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: inline-block; }
  .card__dot--1 {
    background-color: #EE4266; }
  .card__dot--2 {
    background-color: #2A1E5C; }
  .card__dot--3 {
    background-color: #FF7700; }
  .card__dot--4 {
    background-color: #3CBBB1; }

.card__title {
  display: inline-block;
  font-weight: 500; }
  .card__title--1 {
    color: #EE4266; }
  .card__title--2 {
    color: #2A1E5C; }
  .card__title--3 {
    color: #FF7700; }
  .card__title--4 {
    color: #3CBBB1; }

.card__description {
  padding: .3rem;
  font-size: 1.4rem;
  line-height: 140%;
  font-weight: 500;
  text-align: left; }

.work__list-text {
  font-size: 1.8rem;
  color: black;
  font-weight: 300;
  line-height: 130%;
  padding: .3rem 0; }

.work__link {
  font-size: 4rem; }

.work__description {
  text-align: left;
  color: black;
  font-size: 1.6rem;
  line-height: 130%;
  letter-spacing: .1rem;
  font-weight: 300;
  display: block;
  padding: 1rem 2rem;
  margin-top: 0; }

.work__coming-soon {
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-size: 2.2rem;
  text-align: center;
  padding: 1.5rem 0; }

.work .fa-external-link,
.work .fa-github {
  font-size: 4rem;
  border: 2px solid #2A1E5C;
  padding: .8rem 1rem;
  background-color: rgba(241, 240, 238, 0.9);
  border-radius: 50%; }

.fa-code {
  color: #000; }

.fa-angle-double-down {
  transition: .3s ease;
  color: #f1f0ee;
  transform: rotate(-90deg); }

.u-margin-bottom-large {
  margin-bottom: 8rem; }

.u-margin-bottom-med {
  margin-bottom: 6rem; }

.u-margin-bottom-small {
  margin-bottom: 4rem; }

.u-bold-color {
  font-weight: 700;
  color: #EE4266; }

.u-bold-primary {
  font-weight: 70;
  color: #3CBBB1; }

.u-color-underline {
  padding-bottom: 1rem;
  border-bottom: 0.5rem solid #EE4266; }
  .u-color-underline--2 {
    padding-bottom: 1rem;
    border-bottom: 0.5rem solid #3CBBB1; }

.u-max-width {
  max-width: 114rem; }

.u-color-primary {
  color: #3CBBB1; }

.u-color-secondary {
  color: #EE4266; }

.u-text-align-center {
  text-align: center; }

.u-text-align-left {
  text-align: left; }

.u-break {
  border: 2px solid #EE4266;
  background-color: #EE4266;
  display: block;
  width: 100%; }

.u-col-1-of-2 {
  display: inline-block;
  width: 47.5%;
  margin: 0 .75%; }

.u-block {
  display: block; }

.u-m-t-none {
  margin-top: 0; }

.u-fix-skew {
  transform: skew(7deg); }

.header {
  min-height: 95vh;
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__logo-box {
    height: 4rem;
    font-size: 6rem;
    background-color: #EE4266;
    height: 8rem;
    width: 8rem;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -70%); }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__logo {
    height: 40px; }
  .header__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -55%);
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 275px;
    min-width: 60vw;
    text-align: center; }
    @media only screen and (max-width: 55em) {
      .header__container {
        min-width: 80vw; } }
    @media only screen and (max-width: 30em) {
      .header__container {
        min-height: 200px;
        width: 95%;
        padding: 2rem; } }

.btn {
  text-decoration: none; }
  .btn--main {
    border: 3px solid #f1f0ee;
    padding: .8rem 1rem;
    font-size: 3.2rem;
    text-align: center;
    color: #f1f0ee;
    font-weight: 500;
    transition: all .3s ease;
    align-self: center;
    width: 40%;
    display: inline-block; }
    @media only screen and (max-width: 46.25em) and (orientation: landscape) {
      .btn--main {
        font-size: 2.7rem;
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 30em) {
      .btn--main {
        font-size: 2.4rem;
        width: 60%; } }
    .btn--main:hover {
      padding: .8rem 2.6rem;
      background-color: #1b242f;
      font-size: 3.25rem;
      border-color: #000;
      color: #3CBBB1;
      font-weight: 700; }
      .btn--main:hover .fa-angle-double-down {
        transform: rotate(0deg); }
  .btn--download {
    font-size: 3rem;
    color: #f1f0ee;
    display: flex;
    justify-content: space-between;
    width: 45%;
    margin: 0 auto;
    padding: .6rem 1rem;
    border-radius: 25px;
    border: 3px solid #3CBBB1;
    display: block;
    align-self: center;
    transition: all .4s ease;
    font-weight: 700; }
    @media only screen and (max-width: 55em) {
      .btn--download {
        width: 60%; } }
    @media only screen and (max-width: 49em) {
      .btn--download {
        border-radius: 0;
        width: 80%;
        margin: 2rem auto; } }
    .btn--download--2 {
      color: black;
      border-radius: 0; }
      @media only screen and (max-width: 55em) {
        .btn--download--2 {
          width: 40%;
          padding: 2rem 2.5rem; } }
      @media only screen and (max-width: 30em) {
        .btn--download--2 {
          width: 80%; } }
    .btn--download .fa-download {
      padding-right: 1rem; }
    .btn--download:hover {
      width: 30%;
      background-color: rgba(60, 187, 177, 0.6);
      color: #1b242f; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  z-index: -100;
  opacity: 1;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.nav {
  height: 7.5rem;
  background-color: #1b242f;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .8rem 4rem;
  justify-content: space-between;
  max-width: 100vw;
  margin: 0 auto;
  border-bottom: 5px solid #3CBBB1; }
  @media only screen and (max-width: 49em) {
    .nav {
      justify-content: center;
      flex-direction: column;
      height: auto; } }
  .nav__toggle-container {
    color: white;
    align-self: center;
    display: none;
    visibility: hidden;
    opacity: 0; }
    @media only screen and (max-width: 49em) {
      .nav__toggle-container {
        display: block;
        visibility: visible; } }
  .nav__toggle {
    color: white;
    font-size: 5rem;
    padding: 2rem;
    cursor: pointer;
    display: none;
    visibility: hidden;
    opacity: 0; }
    @media only screen and (max-width: 49em) {
      .nav__toggle {
        display: block;
        visibility: visible; } }
  .nav__navigation-container {
    width: 70%;
    padding-top: 2rem;
    margin: 0 auto;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 55em) {
      .nav__navigation-container {
        width: 60%; } }
    @media only screen and (max-width: 49em) {
      .nav__navigation-container {
        display: none;
        width: 95%;
        flex-direction: column;
        justify-content: space-around;
        height: 0; } }
  .nav__download-container {
    width: 30%;
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: space-between;
    list-style: none; }
    @media only screen and (max-width: 55em) {
      .nav__download-container {
        width: 40%; } }
    @media only screen and (max-width: 49em) {
      .nav__download-container {
        width: 95%;
        text-align: center;
        display: none;
        height: 0; } }
  .nav__item {
    flex: 1 0 12.5%;
    min-width: 10%; }
    @media only screen and (max-width: 49em) {
      .nav__item {
        width: 70%;
        text-align: center;
        padding: 1.25rem 0;
        border-bottom: 1px solid #3CBBB1;
        margin: 2rem auto; }
        .nav__item:last-child {
          border-bottom: none; } }
    .nav__item a {
      text-decoration: none;
      font-size: 2rem;
      letter-spacing: .1rem;
      color: #3CBBB1;
      padding: .25rem 1.3rem;
      transition: all .4s ease; }
      .nav__item a:hover {
        color: #FF7700; }
      @media only screen and (max-width: 49em) {
        .nav__item a {
          font-size: 2.2rem;
          padding: 2rem 2.5rem; } }
    .nav__item a .fa-code {
      font-size: 200%;
      margin: 0 auto;
      text-align: center;
      color: #3CBBB1;
      height: 5rem;
      width: 6rem; }
    .nav__item--2 {
      flex: 1 0 100%; }

.card__shape {
  width: 100%;
  box-shadow: 0.1rem 2rem 4rem rgba(0, 0, 0, 0.4);
  height: 49rem; }
  @media only screen and (max-width: 65.63em) {
    .card__shape {
      height: 44rem;
      margin: 2.5rem auto; } }

.card__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 114rem;
  margin: 0 auto;
  flex-wrap: wrap; }
  @media only screen and (max-width: 65.63em) {
    .card__container {
      max-width: 88rem; } }
  @media only screen and (max-width: 55em) {
    .card__container {
      max-width: 88rem; } }
  @media only screen and (max-width: 46.25em) and (orientation: landscape) {
    .card__container {
      max-width: 80rem; } }
  @media only screen and (max-width: 30em) {
    .card__container {
      padding: 0 3rem;
      max-width: 95%;
      flex-direction: column; } }

.card__item {
  flex: 1 0 25%;
  min-width: 20%;
  max-width: 23%; }
  .card__item:not(:last-child) {
    margin-right: 1.5%; }
  @media only screen and (max-width: 65.63em) {
    .card__item {
      flex: 1 0 49%;
      max-width: 49%; }
      .card__item:not(:last-child) {
        margin: 0;
        margin-right: .5%; } }
  @media only screen and (max-width: 30em) {
    .card__item {
      flex: 1 0 90%;
      max-width: 95%; } }

.card__img {
  width: 100%;
  object-fit: cover;
  height: 25.5rem;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: no-repeat; }
  .card__img--1 {
    background-image: linear-gradient(to bottom, rgba(238, 66, 102, 0.4), rgba(238, 66, 102, 0.4)), url("../img/bg-webdev.jpg"); }
  .card__img--2 {
    background-image: linear-gradient(to bottom, rgba(42, 30, 92, 0.4), rgba(42, 30, 92, 0.4)), url("../img/bg-webdesign.jpg"); }
  .card__img--3 {
    background-image: linear-gradient(to bottom, rgba(255, 119, 0, 0.4), rgba(255, 119, 0, 0.4)), url("../img/bg-ux.jpg"); }
  .card__img--4 {
    background-image: linear-gradient(to bottom, rgba(60, 187, 177, 0.4), rgba(60, 187, 177, 0.4)), url("../img/bg-responsive.jpg"); }

.card__text-container {
  background-color: white;
  padding: 1rem; }
  .card__text-container--header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 3rem; }

.about {
  padding: 1rem;
  min-height: 775px;
  max-width: 114rem;
  margin: 6rem auto; }
  @media only screen and (max-width: 55em) {
    .about {
      width: 95%; } }
  .about--2 {
    min-height: 300px;
    margin: 3rem auto; }
    @media only screen and (max-width: 30em) {
      .about--2 {
        min-height: 500px;
        margin-top: 55rem; } }
  .about__column--1 {
    height: 775px; }
  .about__column--2 {
    height: 775px; }
  .about__profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 95%;
    margin: 0 auto;
    padding: 2.5rem; }
    @media only screen and (max-width: 55em) {
      .about__profile-container {
        width: 85%; } }
    @media only screen and (max-width: 30em) {
      .about__profile-container {
        flex-direction: column;
        justify-content: center;
        margin: 3rem auto; } }
  .about__img {
    width: 18rem;
    height: 18rem; }
  .about__profile-text {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 18rem;
    text-align: left;
    padding-left: 1rem; }
    @media only screen and (max-width: 55em) {
      .about__profile-text {
        justify-content: space-around;
        width: 50%;
        padding-left: 5rem; } }
    @media only screen and (max-width: 30em) {
      .about__profile-text {
        padding-left: 2.5rem;
        margin-top: 1.2rem;
        width: 95%; } }
  .about__group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    justify-content: space-between; }
  .about__skills-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    margin: 0 auto;
    min-height: 600px;
    padding: .5rem 1.5rem; }
    @media only screen and (max-width: 30em) {
      .about__skills-container {
        margin-top: 15rem; } }
  .about__skills-item {
    list-style: none;
    width: 95%;
    margin: 2.7rem auto;
    margin-top: 0; }
    @media only screen and (max-width: 30em) {
      .about__skills-item {
        min-height: 270px; } }
    .about__skills-item--2 {
      padding: 1.5rem; }
      @media only screen and (max-width: 30em) {
        .about__skills-item--2 {
          min-height: 270px; } }
  .about__skills-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: .8rem auto;
    align-items: center; }
    @media only screen and (max-width: 30em) {
      .about__skills-group {
        flex-wrap: wrap; } }
    .about__skills-group--2 {
      justify-content: space-between; }
      @media only screen and (max-width: 30em) {
        .about__skills-group--2 {
          flex-wrap: wrap; } }
    .about__skills-group--3 {
      width: 100%;
      justify-content: space-between;
      flex-wrap: wrap;
      min-height: 175px;
      max-width: 114rem; }
      @media only screen and (max-width: 30em) {
        .about__skills-group--3 {
          min-height: 200px; } }
    .about__skills-group--item {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1 0 25%;
      max-width: 33%; }
  .about__skill {
    flex: 1 0 15%;
    min-width: 15%;
    margin: 0;
    max-width: 15%; }
    @media only screen and (max-width: 30em) {
      .about__skill {
        max-width: 45%;
        flex: 1 0 40%;
        margin: 2rem 5%; } }
    @media only screen and (max-width: 46.25em) and (orientation: landscape) {
      .about__skill {
        max-width: 45%;
        flex: 1 0 40%;
        margin: 2rem 5%; } }
  .about__skills-img {
    height: 12rem;
    flex: 1 0 20%;
    max-width: 23%;
    margin: 1rem 0;
    text-align: center; }
    .about__skills-img:not(:last-child) {
      margin-right: 2%; }
    @media only screen and (max-width: 30em) {
      .about__skills-img {
        flex: 1 0 47.5%;
        max-width: 47.5%;
        margin: 4.5rem .5%; } }
    .about__skills-img--2 {
      flex: 1 0 17.5%;
      max-width: 17.5%; }
      .about__skills-img--2:not(:last-child) {
        margin-right: 2%; }
  .about__resp-img {
    width: 100%;
    max-width: 10rem;
    height: 11rem; }
    .about__resp-img--2 {
      width: 100%;
      max-width: 9rem;
      height: 10rem; }

.work {
  max-width: 114rem;
  margin: 2rem auto;
  padding: 2rem;
  min-height: 800px; }
  .work__text {
    min-height: 10rem;
    margin: 5rem auto;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }
  .work__item {
    border: .3rem solid transparent;
    margin: .5rem auto;
    padding: 1rem;
    flex: 1 0 20%;
    min-width: 20%;
    max-width: 20%;
    text-align: center;
    list-style: none;
    text-decoration: none;
    letter-spacing: .2rem;
    font-size: 2rem;
    transition: .3s ease-out;
    border: 3px solid #2A1E5C; }
    @media only screen and (max-width: 55em) {
      .work__item {
        flex: 1 0 25%;
        max-width: 25%;
        padding: 1.5rem auto;
        margin: 1.5rem 0; } }
    @media only screen and (max-width: 30em) {
      .work__item {
        flex: 1 0 47.5%;
        max-width: 47.5%;
        padding: 2.5rem auto; } }
    @media only screen and (max-width: 46.25em) and (orientation: landscape) {
      .work__item {
        flex: 1 0 47.5%;
        max-width: 47.5%;
        padding: 2.5rem auto; } }
    .work__item:hover {
      background-color: rgba(60, 187, 177, 0.4);
      border-color: #3CBBB1; }
    .work__item--active {
      border-color: #3CBBB1;
      background-color: rgba(60, 187, 177, 0.4); }
    .work__item > * {
      color: #000;
      text-decoration: none; }
    .work__item--2 {
      flex: 1 0 32%;
      min-width: 32%;
      max-width: 32%;
      margin: 1rem 0;
      position: relative;
      height: 425px;
      box-shadow: 0.1rem 2rem 4rem rgba(0, 0, 0, 0.4); }
      @media only screen and (max-width: 55em) {
        .work__item--2 {
          max-width: 47.5%;
          flex: 1 0 47.5%;
          margin: 2.5rem 1rem; } }
      @media only screen and (max-width: 30em) {
        .work__item--2 {
          max-width: 95%;
          flex: 1 0 95%; } }
      @media only screen and (max-width: 46.25em) and (orientation: landscape) {
        .work__item--2 {
          max-width: 47.5%;
          flex: 1 0 47.5%;
          margin: 2.5rem 1rem; } }
  .work__projects-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 500px;
    flex-wrap: wrap; }
  .work__img-container {
    height: 250px;
    display: inline-block; }
  .work__img-overlay {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: #fff;
    height: 425px;
    width: 100%;
    transition: .4s ease;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    visibility: hidden;
    opacity: 0; }
  .work__img {
    object-fit: cover;
    width: 100%;
    height: 250px; }
  .work__overlay-accomplishments {
    margin-bottom: .1rem;
    padding-left: 3rem; }
  .work-fa-close {
    font-size: 240%;
    position: absolute;
    top: -1%;
    left: 83%;
    cursor: pointer;
    padding: 1.2rem; }
  .work__overlay-links {
    padding-left: 1rem;
    text-align: left;
    padding: 3rem;
    background-color: #f1f0ee;
    border-top: 1px solid #2A1E5C; }
  .work__toggle {
    height: 155px;
    padding: 1rem;
    text-align: center;
    position: relative; }
  .work .fa-ellipsis-v {
    font-size: 200%;
    position: absolute;
    padding: 1.5rem;
    width: 2rem;
    height: 2rem;
    top: 0%;
    left: 88%;
    cursor: pointer;
    z-index: 2;
    transition: all .3s ease; }
    .work .fa-ellipsis-v:hover {
      transform: scale(1.15); }

.contact {
  height: 500px;
  display: flex;
  width: calc(.8 * 114rem);
  max-width: 114rem;
  padding: 4rem;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }
  @media only screen and (max-width: 55em) {
    .contact {
      max-width: 88rem; } }
  @media only screen and (max-width: 30em) {
    .contact {
      max-width: 95%; } }
  @media only screen and (max-width: 46.25em) and (orientation: landscape) {
    .contact {
      max-width: 95%; } }
  .contact__input {
    padding: 1.4rem 2rem;
    font-size: 1.8rem;
    color: black;
    flex: 1 0 42.5%;
    max-width: 42.5%;
    border: 3px solid #3CBBB1;
    transition: all .3s ease; }
    @media only screen and (max-width: 30em) {
      .contact__input {
        flex: 1 0 95%;
        max-width: 95%; } }
    .contact__input:focus {
      border: 3px solid #FF7700;
      outline: 0; }
  .contact__textarea {
    transition: all .3s ease;
    font-size: 2.4rem;
    flex: 1 0 90%;
    border: 3px solid #3CBBB1;
    padding: 8rem 1rem;
    max-width: 95%;
    margin: 0; }
    .contact__textarea:focus {
      border: 3px solid #FF7700;
      outline: 0; }
  .contact__under-header {
    padding: 1rem;
    margin-top: 4rem;
    font-size: 1.8rem; }

.btn--contact {
  display: block;
  flex: 1 0 20%;
  max-width: 40%;
  margin: 0 auto;
  background-color: white;
  padding: 2rem;
  font-size: 1.8rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  outline: 0;
  border: 3px solid #3CBBB1;
  transition: all .3s ease; }
  .btn--contact:hover {
    outline: 0;
    border: 3px solid #FF7700; }
  @media only screen and (max-width: 30em) {
    .btn--contact {
      max-width: 70%; } }

.footer__container {
  margin: 0 auto;
  max-width: calc(.8 *114rem);
  text-align: center;
  height: 250px;
  padding: 1.5rem 0;
  padding: 2rem;
  padding-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center; }

.footer__arrow {
  font-size: 4rem;
  font-weight: 700;
  color: white;
  padding: 1.2rem 2.3rem;
  position: absolute;
  background-color: #EE4266;
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -240%);
  z-index: 5; }
  @media only screen and (max-width: 65.63em) {
    .footer__arrow {
      transform: translate(-50%, -270%); } }
  @media only screen and (max-width: 55em) {
    .footer__arrow {
      transform: translate(-50%, -300%); } }
  @media only screen and (max-width: 30em) {
    .footer__arrow {
      transform: translate(-50%, -325%); } }

.footer__copyright {
  display: block;
  color: white;
  font-size: 1.6rem;
  letter-spacing: .2rem;
  font-weight: 300;
  flex: 1 0 80%;
  padding: 1rem;
  margin-top: 0; }

.footer__logo-img {
  margin: .8rem 1.5%;
  padding: 1.5rem .2rem;
  background-color: #262F38;
  font-size: 4.25rem;
  color: white;
  flex: 1 0 15%;
  max-width: 15%;
  display: inline-block;
  transition: all .4s ease; }
  @media only screen and (max-width: 30em) {
    .footer__logo-img {
      max-width: 47.5%;
      flex: 1 0 47.5%;
      margin: 0; } }
  .footer__logo-img:not(:last-child) {
    margin-right: 0; }
  .footer__logo-img--1:hover {
    color: #007BB5;
    background-color: rgba(0, 123, 181, 0.2); }
  .footer__logo-img--2:hover {
    color: #6e5494;
    background-color: rgba(110, 84, 148, 0.2); }
  .footer__logo-img--3:hover {
    color: #ffa500;
    background-color: rgba(255, 165, 0, 0.2); }
  .footer__logo-img--4:hover {
    color: #4E433C;
    background-color: rgba(78, 67, 60, 0.2); }

.footer__logo-container {
  width: 114rem;
  display: flex;
  flex-direction: row; }

body {
  overflow: auto; }

.active {
  display: block;
  visibility: visible; }

.header {
  height: 95vh;
  position: relative;
  background-color: rgba(60, 187, 177, 0.8);
  padding: 10rem 0; }

[class^=section-] {
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 12rem 0;
  /*
    @include respond(phone-large) {
        padding: 10rem 0;
    }
    @include respond(phone) {
        padding: 5rem 0;
    }*/ }

.section-services {
  min-height: 600px;
  background-color: white; }

.section-about {
  min-height: 1000px;
  margin: 3rem auto; }
  @media only screen and (max-width: 30em) {
    .section-about {
      min-height: 1000px;
      margin-bottom: 12.5rem; } }

.section-work {
  margin-top: -25rem;
  padding: 3rem 0;
  min-height: 900px; }

.section-contact {
  min-height: 600px;
  padding: 7rem 0;
  text-align: center; }

.footer {
  height: 300px;
  position: relative;
  background-color: #1b242f; }
