.btn {
    text-decoration: none;
    &--main {
        border: $border-secondary;
        padding: .8rem 2.4rem;
        font-size: 3.5rem;
        text-align: center;
        color: $color-secondary;
        font-weight: 700;
        transition:all .3s ease;
        &:hover
        {
            background-color:$color-background-black;
            border-radius:2.5rem;
            border-color:$color-black;
            color:$color-primary;
        }
    }
}